<div class="col-md-12">
    <div class="section-title">
        <h2>Older posts</h2>
    </div>
</div>

<div class="col-md-12">
    <div class="post post-row">
        <a class="post-img" href="blog-post.html"><img src="https://dummyimage.com/750x450/383538/ffffff&text=Test+img" alt=""></a>
        <div class="post-body">
            <div class="post-meta">
                <a class="post-category cat-2" href="category.html">Test category 1</a>
                <span class="post-date">December 27, 2022</span>
            </div>
            <h3 class="post-title"><a href="blog-post.html">Test title 1</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
        </div>
    </div>
</div>

<!--div class="col-md-12">
    <div class="section-row">
        <button class="primary-button center-block">Load More</button>
    </div>
</div-->
