<div class="aside-widget">
    <div class="section-title">
        <h2>Catagories</h2>
    </div>
    <div class="category-widget">
        <ul>
            <li><a href="#" class="cat-1">Test 1<span>34033</span></a></li>
            <li><a href="#" class="cat-2">Test 2<span>74</span></a></li>
            <li><a href="#" class="cat-4">Test 3<span>41</span></a></li>
            <li><a href="#" class="cat-3">Test 4<span>35</span></a></li>
        </ul>
    </div>
</div>